{
	"jsc": {
		"parser": {
			"tsx": true,
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true

		},
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true,
			"react": {
				"runtime": "automatic",
				"importSource": "uix",
				"throwIfNamespace": false
			}
		},
		"target": "es2022",
		"keepClassNames": true,
		"externalHelpers": false,
		"experimental": {
			"plugins": [
				["./jusix.wasm", {}]
			]
		}
	}
}